<link rel="stylesheet" href="/CSS/useredit.css">
<link rel="stylesheet" href="/CSS/registerform.css">
<% layout('layouts/boilerplate')%>


    <div class="buttons ">
        <a href="/users/<%= user._id%>"class="btn btn-outline-dark mt-3 mb-3" > Back to the profile</a> 

        <form action="/deleteuser" method="POST" class="deleteUser">
            <input type="hidden" value="<%=user.id%>" id="id" name="id">
            <button type="submit" class="hover btn btn-dark mt-3 mb-3" style="background-color: #a60661; border-color: #a60661;">Delete this profile? </button>
        </form>
    </div>





<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form action="/users/<%=currentUser._id %>/edit" method="POST"  enctype="multipart/form-data" style="width:70%;"> 
            <h2 class="text-center"><strong>Edit</strong> profile.</h2>
            <div class="mb-3">
                <label class="form-label" for="firstName"></label>
                <input class="form-control border" type="text" id="firstName" name="firstName" required value="<%= user.firstName %>" placeholder="First name"/>
                <div class="valid-feedback">
                    Looks good!
                </div>
            <div class="mb-3">
                <label class="form-label" for="lastName"></label>
                <input class="form-control border" id="lastName" name="lastName" required value="<%= user.lastName %>" placeholder="Last name"/> 
                <div class="valid-feedback">
                    Looks good!
                </div>  
            <div class="mb-3">
                <label class="form-label" for="bio"></label>
                <textarea class="form-control border" style="min-height: 10em;" type="text" id="bio" name="bio"> <%= user.bio %>  </textarea>
                <div class="valid-feedback">
                     Looks good!
                </div>
            <div class="mb-3">
                <label class="form-label" for="avatar"></label>
                <input type="file" id="avatar" name="avatar" class="form-control form-control-lg">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <input type="submit" class="btn btn-success mt-3 btn-lg" style="margin-left:45%" value="Update" />
        </form>
    </div>
</div>				            