<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<form id="search" action="/manage"  method="POST" style="display:flex; padding-bottom: 1em;">
  <div class="input-group" style="float: right; justify-content: flex-end;">
    <div class = "form-outline filter-child" style="display:inline-flex;">
        <input type="search" style="min-width: 18em; min-height:100%;" class="form-control" name="name" id="nameinput" placeholder="Search by e-mail.." onfocusout="filterUser(this.value)">
        <button type="button" class="btn btn-danger"> <i class="fa fa-search"></i>
        </button>
    </div>
  </div>
</form>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Is admin?</th>
        <th scope="col"></th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
        <% for (let user in users) { %>
      <tr>
        <th scope="row"><%= users[user].username%></th>
        <td><%= users[user].email%></td>
        <td>
            <div class="form-check form-switch">
             <form  action="/toggleAdmin"  method="POST">
            <input class="form-check-input" type="checkbox" id="isAdmin" onChange="this.form.submit()"
            <% if (users[user].isAdmin) {%> 
             checked
             <% } %>
            value= <%=users[user]._id %>  > 
            <input type="hidden"  value=<%=users[user]._id %> id="id"  name="id">
            </form>
            <label class="form-check-label" for="isAdmin" checked=></label>
            </div>
        </td>
        <td>
          <a href="/users/<%= users[user]._id %> "class="btn btn-outline-danger mt-1"> View profile</a>
        </td>
        <td> 
            <form action="/deleteuser"  method="POST">
                <button type="submit" value=<%=users[user]._id %> id="id" name="id" class="btn btn-outline-primary">DELETE USER</button>
            </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

<script>
    function filterUser(val) {
      document.getElementById("search").submit();

      //window.location.replace('/manage?value='.concat(val));
    }
</script>