<% layout('layouts/boilerplate')%>

<div id="map" style="width:100%; height: 500px; margin-bottom:2em"></div>
<div class="container" id="restaurants-container">
<h1></h1>
    <div>
            <div class="mb-3">
                <label class="form-label"  for="category">Category</label>
                <select  onchange="filterCategory(this.value)">
                    <% for (const i in categoryList) { %>
                        <option value="<%= categoryList[i].name%>"> <%= categoryList[i].name %> </option>
                    <% } %>
                </select>
                <input type="text" name="name" id="nameinput" placeholder="Search by restaurant name" onfocusout="filterName(this.value)">
                <select  onchange="filterRating(this.value)">
                   <%  for (let i = 1; i <= 5; i++) { %>
                      <option value="<%= i %>"> <%= i + " or more" %> </option>   
                    <% } %>
                </select>
                <a href="/restaurants" class="btn btn-outline-success" >Clear filter</a>
            </div>
    </div>

<% for (let restaurant of restaurants.docs) {%>
    <div class="card border-0 mb-2" >
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="picture" src="<%=restaurant.images[0].url%>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= restaurant.title %></h5>
                    <p class="card-text"><%= restaurant.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= restaurant.location %></small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted"><%= restaurant.averageRating %></small>
                    </p>
                    <a class="btn btn-outline-success" href="/restaurants/<%= restaurant._id%>"> View <%= restaurant.title%></a>
                </div>
            </div>
        </div>
    </div>

<% } %> 
</div>
<% if (restaurants.nextPage) { %>
<div class="text-center mb-5">
    <a href="/restaurants?page=<%= restaurants.nextPage  %> " id="paginate" class="btn btn-primary"> View more</a>
</div>
<% } %>



<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
     const restaurants = {items:<%- JSON.stringify(restaurants.docs) %>}
    const all = {features:<%- JSON.stringify(restaurantsAll) %>}

</script>

 <script src = "/js//clusterMap.js"></script> 
 <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src = "/js//paginate.js"></script>
 <script>
    function filterCategory(val) {
      window.location.replace('/restaurants?category='.concat(val));
    }
    function filterName(val) {
      window.location.replace('/restaurants?name='.concat(val));
    }
    function filterRating(val) {
      window.location.replace('/restaurants?rating='.concat(val));
    }

</script>
