<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/CSS/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="map" class="clustermap"></div>
<div class="container" id="restaurants-container">
<h1></h1>
    <div class="filter" >
            <div class="mb-3 filter">
                <label class="form-label"  for="category" ></label>
                <select class="btn btn-danger dropdown-toggle btn-lg filter-child" data-bs-toggle="dropdown" aria-expanded="false" onchange="filterCategory(this.value)">
                    <option value="" disabled selected>Filter by category</option>
                    <% for (const i in categoryList) { %>
                        <option value="<%= categoryList[i].name%>"> <%= categoryList[i].name %> </option>
                    <% } %>
                </select>
                <select class="filter-child btn btn-danger dropdown-toggle btn-lg"  data-bs-toggle="dropdown" aria-expanded="false" onchange="filterRating(this.value)">
                    <option  value="" disabled selected>Filter by rating</option>
                   <%  for (let i = 1; i <= 5; i++) { %>
                      <option value="<%= i %>"> <%= i + " or more" %> </option>   
                    <% } %>
                </select>
                <div class="input-group ">
                    <div class = "form-outline filter-child" style="display:inline-flex;">
                        <input type="search" style="min-width: 18em; min-height:100%;" class="form-control" name="name" id="nameinput" placeholder="Search by name.." onfocusout="filterName(this.value)">
                        <button type="button" class="btn btn-danger"> <i class="fa fa-search"></i>
                         </button>
                     </div>
                </div>
                
                <a href="/restaurants" class="btn btn-outline-dark clear" >Clear filter</a>
            </div>
    </div>

<% for (let restaurant of restaurants.docs) {%>
    <div class="card border-0 mb-2">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid" alt="picture" src="<%=restaurant.images[0].url%>">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title"><%= restaurant.title %></h5>
                    <p class="card-text"><%= restaurant.description %></p>
                    <p class="card-text">
                        <% if (restaurant.isOpen) { %>
                            <span class="btn btn-success disabled" >Open</span>
                         <%} else { %>
                             <span class="btn btn-danger disabled">Closed</span>
                        <% } %> 
                        <small class="text-muted ">Working hours: <%= restaurant.openingTime %> - <%= restaurant.closingTime %> </small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted"><%= restaurant.location %></small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Average rating: <%= restaurant.averageRating.toFixed(2) %></small>
                    </p>
                    <a class="btn btn-outline-success" href="/restaurants/<%= restaurant._id%>"> View <%= restaurant.title%></a>
                </div>
            </div>
        </div>
    </div>

<% } %> 
</div>
<% if (restaurants.nextPage) { %>
<div class="text-center mb-5">
    <a href="/restaurants?page=<%= restaurants.nextPage%> " id="paginate" class="btn btn-primary"> View more</a>
    

</div>
<% } %>



<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const restaurants = {items:<%- JSON.stringify(restaurants.docs) %>}

    const all = {features:<%- JSON.stringify(restaurantsAll) %>}
</script>

 <script src = "/js//clusterMap.js"></script> 
 <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src = "/js//paginate.js"></script>
 
 <script>

    function filterCategory(val) {
      window.location.replace('/restaurants?category='.concat(val));
    }
    function filterName(val) {
      window.location.replace('/restaurants?name='.concat(val));
    }
    function filterRating(val) {
      window.location.replace('/restaurants?rating='.concat(val));
    }
   


</script>
